table {border: 1px black solid; border-collapse: collapse; width: 700px;}
#page {width: 750px; background: lightgray;
       box-shadow: 1px 1px 30px 1px lightgray;
       margin-right: auto; margin-left: auto;
       padding: 25px;}
.successMessage {background: #BDFFDB;}
.noticeMessage {background: #FFFF7B;
                font-weight: bold;}
.warningMessage {background: lightsalmon;
                 font-weight: bold;}
.errorMessage {background: pink;
               font-weight: bolder;}
label { display: block;}